.btn {
  /* USING THE link SUDO CLASS TO STYLE AN ELEMENT WITH A SPECIAL CONDITION */
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* USING inline TO ADD PADDING OR HEIGHT OR WIDTH TO AN ELEMENT */
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    /* Creating a shadow that only goes down (y axis), 20px creates a blur effect */
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      /* SCALE INCREASES THE ELEMENT */
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .3);
  }
  // THIS READS AS btn--white
  &--white {
    background-color: white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

    &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /* THE Z INDEX DEFINES THE POSITION OF THE ELEMENTS IF THEY ARE ONE ON TOP OF THE OTHER  */
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

// LEARN MORE BUTTON
.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
// 0 = L/R, 1rem = up/down 2rem = blur, .15 = shadow
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }

}