.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // using margin-top -20vh to cover the area below the green header to remove the white space between the section and header for a nice clean look
  margin-top: -20vh;
}
